<button class="close-mail-button">
    <i class="fa fa-times"></i>
</button>

<div id="fullView-{{ ident }}" class="mail-read-view {{statuses}}">
    <header class="mail-read-view__header row">

        <!-- TODO -->
        <div class="column large-12 no-padding security-status">
            {{#if signatureStatus}}
            <span class="security-status__label {{ signatureStatus.cssClass }}">
              {{t signatureStatus.label }}
            </span>
            {{/if}}
            {{#if encryptionStatus}}
            <span class="security-status__label {{ encryptionStatus.cssClass }}">
              {{t encryptionStatus.label }}
            </span>
            {{/if}}
        </div>

        <div class="mail-read-view__header-recipients">
            <span class="mail-read-view__header-recipients--highlight-sender">
              {{#if header.from }}
                {{ header.from }}
              {{else}}
                {{t 'you'}}
              {{/if}}
            </span>
            <i class="fa fa-long-arrow-right"></i>
            {{{formatRecipients header}}}
        </div>

        <div class="mail-read-view__header-date">
            {{ formatDate header.date }}
        </div>

        <hr>

        <div class="mail-read-view__header-subject">
            <h3>{{ header.subject }}</h3>
        </div>

        <nav id="mail-actions" class="mail-read-view__header-actions"></nav>

        <ul class="mail-read-view__header-tags">
            <li class="mail-read-view__header-tags-label">
                <button id="new-tag-button" class="no-style"><i class="fa fa-tags"></i></button>
            </li>

            {{#each tags }}
                <li class="mail-read-view__header-tags-tag" data-tag="{{this}}">{{ this }}</li>
            {{/each }}

            <li class="mail-read-view__header-tags-name-input">
                <input type="text" id="new-tag-input" placeholder="{{t 'add-tag-placeholder'}}"
                />
            </li>
        </ul>
    </header>

    <iframe class="mail-read-view__body" id="read-sandbox" sandbox="allow-popups allow-scripts" src="sandbox/sandbox.html" scrolling="no"></iframe>

    {{#if attachments}}
        <hr>

        <div id="attachmentsArea" class="mail-read-view__attachments">
            <p class="mail-read-view__attachments-header"><i class="fa fa-paperclip"></i> {{ attachments.length }} attachment(s):</p>
            <ul>
                {{#each attachments }}
                <li class="mail-read-view__attachments-item">
                    <a class="mail-read-view__attachments-item-label" href="/attachment/{{ this.ident }}?content_type={{ this.content-type }}&encoding={{ this.encoding }}&filename={{ this.name }}">{{ this.name }} ({{ formatSize this.size}})
                    <i class="fa fa-arrow-down mail-read-view__attachments-item-download"></i></a>
                </li>
                {{/each }}
            </ul>
        </div>
    {{/if}}
</div>
