
<div id="fullView-{{ ident }}" class="{{statuses}}">

    <header class="msg-header row">

        <button class="close-mail-button">
            <i class="fa fa-times"></i>
        </button>


      <div style="display:inline-block;padding-top: 5px;width:95%;flex-shrink:1" >

        <div class="column large-10 no-padding security-status">
            {{#if signatureStatus}}
            <span class="{{signatureStatus}}">
              {{t signatureStatus }}
            </span>
            {{/if}}
            {{#if encryptionStatus}}
            <span class="{{encryptionStatus}}">
              {{t encryptionStatus }}
            </span>
            {{/if}}
        </div>
        <div class="column large-2 no-padding text-right">
            <span class="received-date">{{ header.formattedDate }}</span>
        </div>
        <div class="recipients column large-12 no-padding">
            <span class="from">
              {{#if header.from }}
                {{ header.from }}
              {{else}}
                {{t 'you'}}
              {{/if}}
            </span>
            <i class="fa fa-long-arrow-right"></i>
            {{{formatRecipients header}}}
        </div>

        <div>
            <h3 class="subjectArea column large-10 no-padding">
                <span class="subject">{{ header.subject }}</span>

                <div class="tagsArea">
                    <ul class="tags">
                        {{#each tags }}
                          <li class="tag" data-tag="{{this}}">{{ this }}</li>
                        {{/each }}

                        <li class="new-tag">
                            <input type="text" id="new-tag-input" placeholder="{{t 'Press Enter to create'}}"/>
                        </li>
                        <li class="add-new">
                            <button id="new-tag-button" class="no-style"><i class="fa fa-plus"></i></button>
                        </li>
                    </ul>
                </div>
            </h3>
            <nav id="mail-actions" class="column large-2 no-padding">
            </nav>
        </div>

      </div>
    </header>

    <div class="bodyArea column large-12">
      {{#each body }}
          <p>{{ this }}</p>
      {{/each }}
    </div>
</div>
<script>
    (function () {
        var height = $(".msg-header")[0].offsetHeight;
        $(".bodyArea")[0].style.marginTop = height + 'px';
    }());
</script>
