<span>
  <input type="checkbox"/>
</span>
<span>
  <a href="/#/{{ currentTag }}/mail/{{ ident }}">
    <span class="sent-date">{{ formatDate header.date }}
        {{#if attachments}}
            <div class="attachment-indicator">
                <i class="fa fa-paperclip"></i>
            </div>
        {{/if}}
    </span>

      <div class="from">
          {{t 'to:'}}
          {{#if header.to }}
              {{ header.to }}
          {{else}}
              {{t 'no_recipient'}}
          {{/if}}
      </div>
      <div class="subject">
          {{#if header.subject }}
              {{header.subject}}
          {{else}}
              {{t 'no_subject'}}
          {{/if}}
      </div>
      <ul class="tags">
          {{#each tagsForListView }}
              <li class="tags-tag" data-tag="{{this}}">{{ this }}</li>
          {{/each }}
      </ul>
  </a>
</span>
