<div id="subject-container">
  <h4 id="reply-subject">{{subject}}</h4>
  <input type="text" value="{{subject}}" style="display: none"/>
</div>
<textarea id="text-box" placeholder="{{t 'Body'}}" tabindex=1>{{body}}</textarea>

<a id="all-recipients" tabindex=2>
  <strong>{{t 'To'}}:</strong> {{formatRecipients recipients}}
</a>

{{> recipients }}

{{> attachments_list }}

<div class="buttons-group columns  compose-view__buttons">
  <button id="send-button" tabindex=6><i class="fa fa-send"></i></button>
  <span id="attachment-button" class="compose-view__buttons-attachment" tabindex="6"></span>
  <button id="trash-button" tabindex=7>{{t 'trash-button'}}<i class="fa fa-trash-o"></i></button>
  <div id="draft-save-status"></div>
</div>
