<div class="scene">
  {{#if forSearch }}
    <div class="text">{{t 'NO RESULTS FOR'}}: '{{ forSearch }}'.</div>
  {{else}}
    <div class="text">{{t 'NO EMAILS IN'}} '{{ tag }}'.</div>
  {{/if}}
</div>
