<header>
  <span id="user-settings-close"><i class="fa fa-close"></i></span>
   <i class="fa fa-user"></i>
   <h1>{{t 'user-settings'}}</h1>
   <i class="shortcut-label"></i>
</header>
<i class="fa fa-envelope-o"></i><h2>{{t 'email-address'}}</h2>
<p>{{ account_email }}</p>
<i class="fa fa-key"></i><h2>{{t 'public-key-fingerprint'}}</h2>
<p>{{ formatFingerPrint fingerprint }}</p>
