<li class="{{ selected }}">
  <a title="{{ tagName }}">
    {{#if displayBadge }}
        <span class="{{ badgeType }}-count">{{ count }}</span>
    {{/if}}
      <i class="fa fa-{{ icon }}"></i>
      <div class="shortcut-label">{{ tagName }}</div>
  </a>
</li>
